NODE_ENV=
PORT=
APP_NAME=

# PostgreSQL — Neon
DATABASE_URL=
DIRECT_URL=

# MongoDB — Atlas
MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES_IN=
BCRYPT_ROUNDS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

INFURA_RPC_URL=
WALLET_PRIVATE_KEY=
CONTRACT_ADDRESS=